@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

:root {
  --ticker-width: -4000px;
}

@layer base {
  html {
    font-size: 16px;
  }

  .font-monospace {
    font-family: monospace, Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    letter-spacing: 3px;
    font-size: 2.2rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.75);
  }

  h1,
  h2,
  h3,
  h4,
  p {
    font-family: 'BodoniModa', serif;
  }

  a {
    letter-spacing: 2.5px;
    font-size: 83%;
  }

  .paragraph-style {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .text-85rgba {
    color: rgba(0, 0, 0, 0.85);
  }

  .line-height-1-6 {
    line-height: 1.6 !important;
  }

  .letter-spacing-sm {
    letter-spacing: 0.5px;
  }

  .border-top-1 {
    border-top: 1px solid rgba(168, 162, 158, 1);
  }

  .home-section-h {
    height: calc(100% - 200px);
  }

  /* marquee */
  .ticker-h {
    height: 3.438rem;
  }

  .ticker--is-animating .ticker__inner {
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 40000ms;
    animation-duration: 40000ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      -webkit-transform: translate3d(var(--ticker-width), 0, 0);
      transform: translate3d(var(--ticker-width), 0, 0);
    }
  }

  .ticker__inner {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .ticker__groups {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    height: 100%;
  }

  .ticker__bullet {
    display: inline-block;
    margin: 0 25px;
  }

  /* END marquee */

  .rotate-360 {
    --tw-rotate: 360deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .icon {
    width: 150px;
    height: 150px;
    @apply block overflow-hidden transform duration-500 ease-in-out mt-4; 
  }

  .icon img {
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
  }

  .icon:hover {
    transform: translateX(-1px) rotateY(180deg);
    -ms-transform: translateX(-1px) rotateY(180deg);
    -webkit-transform: translateX(-1px) rotateY(180deg);
  }

  .h-600{
    height: 600px !important;
  }

  .grid-col-custom {
    @apply grid gap-5 pl-4;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr) );
    
  }
}