@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: monospace, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Sabon", "cwtexming", Icons;
}

a {
  letter-spacing: 2.5px;
  font-size: 83%;
}